*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;   
    background-color: #b99555;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23000000' fill-opacity='0.55' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

header{
    height: 15vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b1608;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #000000, #000000 1px, #5b1608 1px, #5b1608);

    font-family: 'Young Serif', serif;
    font-size: 2em;
    color: #b99555;
}

header > div{
    margin-left: 20px;
}

header > h1 {
    -webkit-text-stroke: 1px black;
}
.casas{
    height: 60vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #6c4b2f;
}

.imagen_casa{
    height: 58vh;
    width: 31vw;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5b1608;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #000000, #000000 1px, #5b1608 1px, #5b1608);    
    border-radius: 10px;

    display: block;
    display: flex;
    justify-content: center;
}

.texto{
    height: 58vh;
    width: 47vw;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    font-size: 1.2em;
}

.texto > p{
    font-family: 'Young Serif', serif;
    margin-left: 15px;
}

.texto > h2{
    font-family: 'Young Serif', serif;
    margin-left: 15px;
}

#parrafo1{
  margin-bottom: 15px;
  margin-top: 5px;
}

#parrafo2{
  margin-bottom: 15px;
}

#parrafo4{
  margin-bottom: 10px;
  margin-top: 10px;
}

#parrafo6{
  margin-top: 15px;
}

#parrafo7{
  margin-bottom: 10px;
  margin-top: 5px;
}

#parrafo9{
  margin-bottom: 10px;
}

#parrafo10{
  margin-bottom: 10px;
  margin-top: 10px;
}

#parrafo11{
  margin-bottom: 10px;
  margin-top: 10px;
}

.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #b6965d;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.5em;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #917046;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #917046;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  font-size: 1.4em;
}

.dropdown-content a:hover {
  background-color: #917046;
  color: #ffffff;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #917046;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}


  
@media (max-width : 768px) {
  

header{
  height: 25vh;
  width: 90vw;
  font-size: 1.5em;
  display: block;
  text-align: center;
}


header > h1 {
  -webkit-text-stroke: 1px black;
}

header > div{
  margin-right: 50vw;
}

.casas{
  height: 132vh;
  width: 94vw;
  align-items: center;
  flex-direction: column;
}

#casa_gryffindor{
  height: 155vh;
}

#texto_gryffindor{
  height: 110vh;
}

#casa_hufflepuff{
  height: 160vh;
}

#texto_hufflepuff{
  height: 115vh;
}

#casa_ravenclaw{
  height: 160vh;
}

#texto_ravenclaw{
  height: 115vh;
}

#casa_slythering{
  height: 145vh;
}

#texto_slythering{
  height: 100vh;
}

.imagen_casa{
  height: 40vh;
  width: 90vw;  
 
  overflow: hidden;
}

.texto{
  height: 90vh;
  width: 90vw;
  display: block;
  font-size: 1.3em;
  padding-left: 2px;
  padding-right: 2px;
}

img{
  width: auto;
  height: auto;
}





}
